/* MY CSS RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif; 
  line-height: 1.5;
  overflow-x: hidden;
  color: #333;
  font-weight: 300;
}

.wrap{
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

li{
  list-style: none;
}

.no-btn {
  border: 0;
  background: 0 0;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  width: auto;
}

.sr-only {
  left: -9999px;
  top: -9999px;
  position: absolute;
  clip: rect(1px,1px,1px,1px);
}

.menu-nav[aria-hidden=true] {
  display: none;
}

/* SITE STYLES */

/* site header styles */
.site__header {
  background-color: #333333;
  position: fixed;
  height: 50px;
  width: 100%;
}

.site__body::before {
  content: "";
  display: block;
  width: 100%;
  height: 49px;
}

/* menu nav styles */
.menu-nav {
  background-color: #333333;
  color: white;
}

.nav__link {
  border-top: 1px solid;
  display: block;
  padding: 0.5rem 20px;
}

/* section 1 styles */
.section1 {
  background-color: #999999;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section1__placeholder {
  display: block;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  background: url('../img/placeholder.png') no-repeat center;
  background-size: cover;
  margin: auto;
}

.section1__title {
  font-size: 20px;
  max-width: 270px;
  margin: 1rem auto;
}

.section1__paragraph {
  max-width: 300px;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.section1__button {
  background-color: white;
  color: black;
  border-radius: 1px;
  border: 2px solid;
  font-size: 18px;
  width: 300px;
  padding: 12px;
  font-family: inherit;
  margin-bottom: 20px;
  box-shadow: 3px 2px 1px black;
  font-weight: bold;
  font-size: 16px;
}

/* section2 styles */

.section2 {
  background-color: white;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section2__article {
  text-align: center;
}

.section2__placeholder {
  display: block;
  width: 180px;
  height: 180px;
  border: 1px solid black;
  background: url('../img/placeholder.png') no-repeat center;
  background-size: cover;
  margin: auto;
}

.section2__title {
  font-size: 18px;
  max-width: 270px;
  margin: 1rem auto;
}

.section2__paragraph {
  max-width: 300px;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 14px;
}

/* TABLET MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .wrap{
    max-width: 768px;
  }

  /* section 1 */
  .section1 {
    color: black;
    padding: 50px;
  }

  .section1__placeholder {
    width: 400px;
    height: 400px;
  }

  .section1__title {
    font-size: 26px;
    margin-top: 2rem;
    max-width: 381px;
  }

  .section1__paragraph {
    max-width: 381px;
  }

  .section1__button {
    width: 381px;
  }

  .section2__title {
    max-width: 350px;
  }

  .section2__title>span {
    display: block;
  }

  .section2__paragraph {
    max-width: 350px;
  }
}

/* ONLY TABLET MEDIA QUERIES */
@media only screen and (min-width: 768px) and (max-width: 1020px) {

  .section1__placeholder {
    width: 400px;
    height: 400px;
  }

  .section1__title {
    font-size: 26px;
    margin-top: 2rem;
    max-width: 381px;
  }

  .section1__paragraph {
    max-width: 381px;
  }

  .section1__button {
    width: 381px;
  }

  /* section 2 */
  .section2__article {
    text-align: left;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: auto;
  }

  .section2__article+article {
    margin-top: 50px;
  }

  .section2__title {
    max-width: 350px;
  }

  .section2__title>span {
    display: block;
  }

  .section2__paragraph {
    max-width: 350px;
  }
}

/* DESKTOP MEDIA QUERIES */
@media only screen and (min-width: 1024px) {
  .wrap{
    max-width: 960px;
  }

  .site__header {
    display: none;
  }

  .site__body::before {
    display: none;
  }

  .nav {
    display: flex;
    max-width: 960px;
    margin: auto;
  }

  .nav__link {
    border: 0;
    padding: 0.5rem 10px;
  }

  .section1 {
    text-align: left;
    padding: 100px 0;
  }

  .section1__article-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .section1__placeholder {
    margin: 0;
    margin-left: 50px;
  }

  .section1__title {
    max-width: 100%;
    font-size: 35px;
  }

  .section1__title>span {
    display: block;
  }

  .section1__paragraph {
    max-width: 402px;
    overflow: hidden;
    margin-left: 0;
    height: 58px;
    font-size: 18px;
  }

  .section1__button {
    width: 280px;
    margin: 0;
    font-size: 18px;
  }

  .section2__article-flex {
    display: flex;
    justify-content: center;
    margin: 50px;
  }

  .section2__title {
    font-size: 25px;
  }

  .section2__paragraph {
    font-size: 18px;
    max-width: 480px;
  }
}

/* BONUS OPTIMIZE FOR BIGGER SCREEN */
@media only screen and (min-width: 1200px) {

  .section1 {
    padding: 50px 0;
  }

  .section2 {
    padding-top: 0;
  }
}